Checks: 'modernize-avoid-bind,
         modernize-avoid-c-arrays,
         modernize-deprecated-headers,
         modernize-loop-convert,
         modernize-pass-by-value,
         modernize-redundant-void-arg,
         modernize-use-bool-literals,
         modernize-use-emplace,
         modernize-use-equals-delete,
         modernize-use-noexcept,
         modernize-use-override'
HeaderFilterRegex: '.*/src/[^3].*'
